.logo-div {
  height: 32px;
  margin: 16px;
  display:flex;
  align-items:center; 
  justify-content:center;
  color: white;
}

.site-layout {
  background: #fff;
}

.main-display-home{
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px; 
  min-height: 600px;
  align-items:center;
  justify-content:center;
}

.main-display-left{
  background: #fff;
  padding: 24px; 
  min-height: 535px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-display-cen{
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px; 
  min-height: 535px;
  align-items:center;
  justify-content:center;
}

.chosen_tag_block{
  text-align: left;
  margin-left: 28px;
  padding:5px;
}

.tags_group{
  background: #F5F5F5;
  margin-left: 33px;
  margin-right: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
}

.tags{
  margin: 2.5px;
}

.user{
  text-align: right;
  color: white;
  display: flex;
  flex-direction: row;
  float: right;
}

.album{
  width: 220px;
  height: 280px;
  background-color: #FFF8DC;
  padding: 10px;
  border-radius: 25px;
  margin: 10px;
}

.four-img{
  display: flex;
  flex-direction: column;
}

.previw-row{
  display: flex;
  flex-direction: row;
}

.img-preview{
  margin: 5px;
}

  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
