.logo-div {
  height: 32px;
  margin: 16px;
  display:flex;
  align-items:center; 
  justify-content:center;
  color: white;
}

.site-layout {
  background: #fff;
}

.main-display{
  display: flex;
  background: #fff;
  padding: 24px; 
  min-height: 540px;
  align-items:center;
  justify-content:center;
  margin: 60px 20px 0px 20px;
}

.chosen_tag_block{
  text-align: left;
  margin-left: 28px;
  padding:5px;
}

.tags_group{
  background: #F5F5F5;
  margin-left: 33px;
  margin-right: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
}

.tags{
  margin: 2.5px;
}

  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
