.logo-div {
  width: 100%;
  display:flex;
  align-items:center; 
  justify-content:center;
  padding: 5px;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 5px 5px;
}

.login-button{
  display: flex;
  flex-direction: row;
  position: relative;
}

.site-layout {
  background: #F5F5F5;
  min-width: 600px;
}

.main-display-home{
  display: flex;
  flex-direction: row;
  background: #fff;
  padding: 24px; 
  min-height: 600px;
  align-items:center;
  justify-content:center;
}

.main-display-wel{
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to bottom right, rgb(102, 0, 102), rgb(0, 0, 102));
  padding: 24px; 
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  align-items:center;
  justify-content:center;
}

.main-display-register{
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px; 
  min-height: 664px;
  align-items:center;
  justify-content:center;
}

.main-display-left{
  background: #fff;
  padding: 10px 20px; 
  min-height: 535px;
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-display-cen{
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px; 
  min-height: 535px;
  align-items:center;
  justify-content:center;
}
.main-display-up{
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 24px; 
  min-height: 535px;
  align-items:center;
}

.wel-word {
  width: 600px;
  position: relative;
}

.descrip1 {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 280px;
  margin-left: 10px;
}

.image-display-wel{
  position: relative;
  top: 40px;
}

.descrip2 {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 310px;
  margin-left: 10px;
}

.upload-div{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  padding: 10px 25px;
  position: relative;
}

.upload-tag{
  width: 90%;
  height: 100%;
  align-items:center;
  display: flex;
  flex-direction: column;
  background: rgb(0, 51, 102);
  padding: 25px;
  border-radius: 10px;
  position: relative;
  left: 5%;
}

.tags_group-up{
  width: 70%;
  border-radius: 10px;
  background: #F5F5F5;
  padding: 10px;
  max-height: 50%;
  overflow-y: scroll;
}

.chosen_tag_block-up{
  width: 70%;
  text-align: left;
  margin: 15px 0px;
  color: white;
}

.upload-dragger{
  width: 90%;
  height: 100%;
  display: flex;
  align-items:center;
  display: flex;
  flex-direction: column;
  background-color: #66b3ff;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  left: 5%;
}

.chosen_tag_block{
  text-align: left;
  margin-left: 28px;
  padding:5px;
}

.tags_group{
  background: #F5F5F5;
  margin-left: 33px;
  margin-right: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  max-height: 240px;
  overflow-y: scroll;
}

.tags{
  margin: 2.5px;
}

.user{
  color: white;
  display: flex;
  flex-direction: row;
  float: right;
}

.userAvatar:hover{
  cursor: pointer;
}

.userSettingAva:hover {
  cursor: pointer;
}

.userSettingAva{
  text-align: center;
}

.avatar_choose:hover {
  cursor: pointer;
}

.avatar_choose{
  width: 60px;
  height: 60px;
  margin: 5px;
}

.album{
  width: 220px;
  height: 280px;
  background-color: #FFF8DC;
  padding: 10px;
  border-radius: 25px;
  margin: 10px;
  position: relative;
}

.album:hover{
  cursor: pointer;
  box-shadow: 5px 5px 3px 3px #F0E68C;
}

.four-img{
  display: flex;
  flex-direction: column;
}

.previw-row{
  display: flex;
  flex-direction: row;
}

.img-preview{
  margin: 5px;
}

.img-empty{
  height: 90;
  width: 90;
  margin: 5px;
}

.img-show-div{
  height: 160px;
  width: 160px;
  margin: 5px;
  overflow: hidden;
}

.img-show-div:hover .img-show, .img-show-div:focus .img-show{
  opacity: 0.3;
  transform: scale(1.2);
}

.img-show-div:hover .img-show-hover{
  opacity: 1;
}

.img-show-choose:hover {
  cursor: pointer;
}

.img-show{
  z-index: 1;
}

.img-show-blur{
  z-index: 1;
  opacity: 0.3;
  transform: scale(1.2);
}

.img-show-disable{
  z-index: 1;
  filter: brightness(50%);
}

.img-show-disable:hover {
  cursor: not-allowed;
}

.img-show-notUser:hover {
  cursor: pointer;
}

.img-show-hover{
  height: 160px;
  width: 160px;
  opacity: 0;
  position: relative;
  bottom: 160px;
}

.img-show-notUser{
  height: 160px;
  width: 160px;
  opacity: 0;
}

.img-show-button{
  width: 160px;
  position: absolute;
  top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-show-tag{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.img-show-choose {
  height: 160px;
  width: 160px;
  position: relative;
  bottom: 160px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
}

.img_big{
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-width: 420px;
}

.img_big_box{
  width: 70%;
  height: 100%;
  background: black;
  position: relative;
}

.social{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 5px 5px 10px 5px;
  min-width: 180px;
}

.social-publish-data{
  display: flex;
  flex-direction: row;
}

.social-button{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.publish-data-word{
  padding-left: 10px;
}

.change_tag_cur{
  width: 100%;
  border-radius: 10px;
  background: #F5F5F5;
  padding: 10px;
}

.comment-div{
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.comment-input{
  margin-left: 5px;
  width: 90%;
  background: #F5F5F5;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
}

.comment-show{
  margin-left: 5px;
  width: 80%;
  background: #F5F5F5;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
}

.comments{
  overflow-y: scroll;
}

.viewBut{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
